body {
	background-color:#ffa8f1;
	font-family:'Times New Roman', Times, serif;
	padding: auto;
	font-display: 15px;
}
h1 {
	color:#7FF000;
	font-size:26px;
}
p {
	margin:8px;
	font-size:12px;
}
ul {
	background-color: #f0f8ff;
	border-radius: 12px; 
	padding: 10px; 
	list-style-type: none; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  ul li {
	margin: 8px 0; 
  }

	